body {
    font-family: Arial, sans-serif;
    text-align: center;
    width: 400px;
    margin: 0;
}

.title {
    background-color: gray;
    padding: 10px;
    display: flex;
    gap: 10px;
}

.title h1{
    font-size: 1.2rem;
}

.icon  {
    width: 45px;
}

a .menu{
    width: 40px;
    height: 40px;
    margin-left: auto;
}

.container {
    padding: 40px;
    background-color: aqua;
}

.timer {
    font-size: 40px;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
}
